#!/bin/bash
# S3 credentials for expanso Databricks pipeline
# Copy this file to expanso-s3-env.sh and fill in your actual credentials

export AWS_ACCESS_KEY_ID='YOUR_ACCESS_KEY_HERE'
export AWS_SECRET_ACCESS_KEY='YOUR_SECRET_KEY_HERE'
export AWS_DEFAULT_REGION='us-west-2'
export S3_BUCKET_PREFIX='expanso'
export S3_REGION='us-west-2'
export S3_BUCKET_RAW='expanso-raw-data-us-west-2'
export S3_BUCKET_SCHEMATIZED='expanso-schematized-data-us-west-2'
export S3_BUCKET_FILTERED='expanso-filtered-data-us-west-2'
export S3_BUCKET_EMERGENCY='expanso-emergency-data-us-west-2'